.row
  .col-md-12
    %h1 Authors
    = render 'filter'
    .row
      - @authors.in_groups_of((@authors.size/4.0).ceil, false) do |group|
        .col-md-3
          %ul
            - group.each do |author|
              %li= link_to "#{author.name} (#{author.books.size})", books_path(q: {author_id_eq: author.id}, books_count: (params[:books_count].presence || 1))
