<script id="book-row" type="text/html">
  <tr title="<%= asin %>">
    <td><input type="checkbox" name="book_ids[]" id="book_ids_<%= id %>" value="<%= id %>" class="book_check"></td>
    <td><%= title %></td>
    <td><a href="javascript:void(0);" onclick="searchAuthor('<%= author_id %>');"><%= raw_author %></a></td>
    <td><%= tag %></td>
    <td class="date_cell"><%= date %></td>
    <td><%= collection_count %></td>
    <td><%= read %></td>
    <td class="guessed_tag_list_cell">
      <% for(var t in guessed_tag_list) { %>
        <a href="javascript:void(0);" onclick="searchThis(this);"><%= guessed_tag_list[t] %></a>
      <% } %>
    </td>
    <td class="tag_list_cell"><%= tag_list %></td>
  </tr>
</script>
