.row
  .col-md-12
    %h1 Books
    .row
      .col
        %span#total_books 0
        %span Books found
        %div
          %label.sr-only{:for => "searchbox"} Search
          %input#searchbox.form-control{:placeholder => "Search …", :type => "text"}/
          %span.glyphicon.glyphicon-search.search-icon
    = form_tag mark_as_read_books_path, method: :put do
      .row
        .col
          .card
            .card-block
              = submit_tag 'Mark selected books as read', class: 'btn btn-primary'
      .row
        .col
          = render 'book_row'
          %table#books.table.table-striped.table-hover.table-sm
            %thead
              %tr
                %th= check_box_tag "select_all", nil, false, class: 'select_all'
                %th Title
                %th Author
                %th Asin
                %th Tag
                %th Date
                %th Collection Count
                %th Read
                %th Guessed Tags
                %th Tags
            %tbody#books-body
