.card
  .card-block
    %h4.card-title Search Tags
    = search_form_for q, url: tags_path, class: 'form-inline' do |f|
      = f.label :name_cont, 'Name'
      = f.search_field :name_cont
      = f.submit 'Search', class: 'btn btn-secondary'
