%nav.navbar.sticky-top.navbar-toggleable-md.navbar-inverse.bg-warning
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => root_path} 積読
  #navbarNavAltMarkup.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link{:href => root_path} Home
      %li.nav-item
        %a.nav-link{:href => books_path} Books
      %li.nav-item
        %a.nav-link{:href => authors_path} Authors
